---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.jsx';
import PageHeader from '@/components/PageHeader';
import '@/styles/globals.css'
---

<Layout title="Electron BitNet Model Inference">
	<main>
		<PageHeader client:only="react" backURL="../index.html" />
		<Home client:only="react" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100vh;
	}
</style>
